.description-column {
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  color: black;
}

.item-column {
  width: 20%;
  max-width: 20%;
  min-width: 20%;
  color: black;
}

.centered-header {
  text-align: center;
  color: black;
}

.centered-cell {
  text-align: center;
  width: 10%;
  color: black;
}

th,
td {
  border: 1px solid #d8dde6;
  color: black;
}

.summary-section {
  margin-top: 1rem;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.summary-section table td {
  vertical-align: middle;
  border: none;
  color: black;
}

.summary-name {
  font-weight: bold;
  text-align: right;
  width: 10%;
  padding-right: 1rem;
  border-right: none;
  color: black;
}

.summary-value {
  text-align: right;
  width: 10%;
  color: black;
}

.warranty {
  text-align: right;
  width: 10%;
  padding-right: 1rem;
  border-right: none;
  color: black;
}

.table-container {
  position: relative;
  max-height: 400px;
  overflow: hidden;
}

.fixed-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid #d8dde6;
  color: black;
}

.scrollable-body {
  overflow-y: auto;
}

.scrollable-body tr {
  border-bottom: 1px solid #d8dde6;
  color: black;
}

.button-footer {
  margin-right: 1rem;
}

.summary-section table td:first-child,
.summary-section table td:nth-child(2),
.summary-section table td:nth-child(3) {
  width: 10%;
  padding: 0;
}

.summary-section table td:nth-child(4) {
  width: 10%;
  padding-right: 1rem;
}

.additional-notes {
  margin-top: 1rem;
  text-align: left;
  color: black;
}

.additional-notes p {
  text-decoration: underline;
  margin-bottom: 0.5rem;
  color: black;
}

.additional-notes ul {
  padding-left: 0.5rem;
  margin: 0;
}

.additional-notes li {
  font-size: 0.9em;
  margin-bottom: 0.25rem;
  color: black;
}

.contact-info {
  margin-top: 1rem;
  text-align: center;
  color: black;
}

.contact-info p {
  margin: 0;
  line-height: 1.5;
  color: black;
}

.info-section {
  margin-bottom: 1rem;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.info-section table {
  width: 100%;
  border-collapse: collapse;
}

.estimate-header {
  font-weight: bold;
  text-align: left;
  padding: 0.5rem;
  border: none;
  color: black;
}

.estimate-label {
  font-weight: bold;
  text-align: right;
  padding: 0.5rem;
  border: 1px solid #d8dde6;
  color: black;
}

.estimate-value {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #d8dde6;
  color: black;
}

.customer-info {
  padding: 0.5rem;
  text-align: left;
  border-left: 1px solid #d8dde6;
  border-top: 1px solid #d8dde6;
  border-bottom: 1px solid #d8dde6;
  color: black;
}

.spacer {
  height: 1rem;
  border: none;
}